extends ../components/base/layout

block variables
  - const title = "Список страниц"
  - const wrapperMods = "wrapper--sitemap"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: rgb(10, 10, 175);
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }
    }

  -
    const pages = [
      {
        name: "Главная — index.html",
        src: "index.html"
      },
    ]

  main
    .container
      //svg(width="300" height="150" viewBox="0 0 300 150") #[use(xlink:href="img/sprite_auto.svg#logo")]
      img(src="img/sprite/logo_welbex.svg" width="300" alt="Логотип проекта")
      h1 Список страниц
      ol
        each page in pages
          li
            a(href= page.src)= page.name
