mixin lead()
  .lead
    .container.lead__container
      .lead__wrapper
        h1.lead__title 
          | Зарабатывайте
          br
          | больше 
          br
          | с WELBEX
        p.lead__text Развиваем и контролируем продажи за вас

      .lead__wrapper
        h2 Вместе с бесплатной консультацией мы дарим:
        ul.lead__list
          li.lead__item
            h3 Виджеты
            p 30 готовых решений
          li.lead__item
            h3 Dashboard
            p с показателями вашего бизнеса
          li.lead__item
            h3 Skype Аудит
            p отдела продаж и CRM системы
          li.lead__item
            h3 35 дней
            p использования CRM
        a.btn Получить консультацию
