mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container.footer__container 
      section.footer__section
        h2.footer__title О компании
        ul.footer__list
          li.footer__item 
            a.footer__link(href="#") Партнёрская программа
          li.footer__item 
            a.footer__link(href="#") Вакансии
      section.footer__section
        h2.footer__title Меню
        ul.footer__list
          li.footer__item 
            a.footer__link(href="#") Расчёт стоимости
          li.footer__item 
            a.footer__link(href="#") Услуги
          li.footer__item 
            a.footer__link(href="#") Виджеты
          li.footer__item 
            a.footer__link(href="#") Интеграции
          li.footer__item 
            a.footer__link(href="#") Наши клиенты
          li.footer__item 
            a.footer__link(href="#") Кейсы
          li.footer__item 
            a.footer__link(href="#") Благодарственные письма
          li.footer__item 
            a.footer__link(href="#") Сертификаты
          li.footer__item 
            a.footer__link(href="#") Блог на Youtube
          li.footer__item 
            a.footer__link(href="#") Вопрос / Ответ
      section.footer__section
        h2.footer__title Контакты
        ul.footer__list
          li.footer__item 
            a.footer__link(href="#") +7 555 555-55-55
          li.footer__item
            ul.footer__socials
              li.footer__item
                a.footer__link(href="#")
              li.footer__item
                a.footer__link(href="#")
              li.footer__item
                a.footer__link(href="#")
              
          li.footer__item 
            a.footer__link(href="#") Москва, Путевой проезд 3с1, к 902
      .footer__privacy
        p ©WELBEX 2022. Все права защищены.
        p Политика конфиденциальности

