mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container.footer__container
      .footer__wrapper 
        section.footer__section
          h2.footer__title О компании
          ul.footer__list
            li.footer__item 
              a.footer__link.link(href="#") Партнёрская программа
            li.footer__item 
              a.footer__link.link(href="#") Вакансии
        section.footer__section.footer__menu
          h2.footer__title Меню
          ul.footer__list
            li.footer__item 
              a.footer__link.link(href="#") Расчёт стоимости
            li.footer__item 
              a.footer__link.link(href="#") Услуги
            li.footer__item 
              a.footer__link.link(href="#") Виджеты
            li.footer__item 
              a.footer__link.link(href="#") Интеграции
            li.footer__item 
              a.footer__link.link(href="#") Наши клиенты
            li.footer__item 
              a.footer__link.link(href="#") Кейсы
            li.footer__item 
              a.footer__link.link(href="#") Благодарственные письма
            li.footer__item 
              a.footer__link.link(href="#") Сертификаты
            li.footer__item 
              a.footer__link.link(href="#") Блог на Youtube
            li.footer__item 
              a.footer__link.link(href="#") Вопрос / Ответ
        section.footer__section.footer__contacts
          h2.footer__title Контакты
          ul.footer__list
            li.footer__item 
              a.footer__link.link.footer__link--tel(href="tel:+75555555") +7 555 555-55-55
            li.footer__item
              ul.footer__list.footer__socials
                li.footer__item
                  a.footer__link.link(href="#")
                    svg(width="20" height="20" viewBox="0 0 20 20")
                      use(xlink:href="img/sprite_auto.svg#telegram")
                li.footer__item
                  a.footer__link.link(href="#")
                    svg(width="20" height="19" viewBox="0 0 20 19")
                      use(xlink:href="img/sprite_auto.svg#whatsapp")
                li.footer__item
                  a.footer__link.link(href="#")
                    svg(width="20" height="20" viewBox="0 0 20 20")
                      use(xlink:href="img/sprite_auto.svg#viber")

            li.footer__item 
              a.footer__link.link(href="#") Москва, Путевой проезд 3с1, к 902
      .footer__privacy
        p ©WELBEX 2022. Все права защищены.
        a.footer__link.link(href="#") Политика конфиденциальности

